h1{
   color: green;
   font-family: sans-serif;
}

p{
  font-family: fantasy;
}

table{
     font-family: Helvetica, sans-serif;
    border-collapse: separate;
    border-width: 5px;
    border-style: solid;
    border-color: #232323;
}
th{
    font font-weight: 800;
    background-color: #232323;
    color: #ffffff;
}

ul{
   list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}

#menu-bar a:hover{
       background-color: aqua;
       color: #ffffff;
 }